[package]
name = "pq"
version = "0.7.7"
authors = ["Sevag Hanssian <sevag.hanssian@gmail.com>"]
description = "jq for protobuf"
repository = "https://github.com/sevagh/pq"
documentation = "https://github.com/sevagh/pq"
readme = "./README.md"
license = "MIT"
keywords = ["protobuf", "serde"]

[dependencies]
serde = "1.0.2"
serde-value = "0.5.0"
serde_json = "1.0.2"
protobuf = "1.2.1"
libc = "0.2.22"
stream_delimit = { path = "stream_delimit", version = "0.3.4" }
clap = "2.24.2"
error-chain = "0.9.0"
linked-hash-map = "0.4.0"
log = "0.3.6"

[workspace]
members = ["stream_delimit"]

[profile.release]
debug = true
lto = true
panic = "abort"
