[package]
name = "pq"
version = "0.6.3"
authors = ["Sevag Hanssian <sevag.hanssian@gmail.com>"]
description = "jq for protobuf"
repository = "https://github.com/sevagh/pq"
documentation = "https://github.com/sevagh/pq"
readme = "./README.md"
license = "MIT"
keywords = ["protobuf", "serde"]

[dependencies]
docopt = "0.7"
rustc-serialize = "0.3"
serde = "1.0.2"
serde-value = "0.5.0"
serde_json = "1.0.1"
serde-protobuf = "0.5.0"
protobuf = "1.2.1"
atty = "0.2.2"
stream_delimit = "0.2.3"

[replace]
"serde-protobuf:0.5.0" = { git = 'https://github.com/sevagh/rq' }

[profile.release]
debug = true
lto = true
panic = "abort"
