[package]
name = "pq"
version = "0.7.1"
authors = ["Sevag Hanssian <sevag.hanssian@gmail.com>"]
description = "jq for protobuf"
repository = "https://github.com/sevagh/pq"
documentation = "https://github.com/sevagh/pq"
readme = "./README.md"
license = "MIT"
keywords = ["protobuf", "serde"]

[dependencies]
serde = "1.0.2"
serde-value = "0.5.0"
serde_json = "1.0.1"
serde-protobuf = "0.5.0"
protobuf = "1.2.1"
atty = "0.2.2"
stream_delimit = { path = "stream_delimit", version = "0.3.0" }
clap = "2.24.2"

[replace]
"serde-protobuf:0.5.0" = { git = 'https://github.com/sevagh/rq' }

[workspace]
members = ["stream_delimit"]

[profile.release]
debug = true
lto = true
panic = "abort"
